.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d0e0e3;
    padding: 0 10%;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    text-align: centre;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: grey;
  }
